name: production deployment
 
on:
  push:
    branches: [ master, develop ]
  pull_request:
    branches: [ master, develop ]
 
jobs:
  build:
    runs-on: ubuntu-latest
 
    steps:
    - uses: actions/checkout@v2
    
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Set up Node v12
      uses: actions/setup-node@v2
      with:
        node-version: '12'
        
    - name: Grant execute permissions for gradlew
      run:  chmod +x gradlew
        
    - name: Build with Gradle
      run: ./gradlew build
      
    - name: Test with Gradle
      run: ./gradlew test

